select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--background);
  background-repeat: no-repeat;
  background-position: calc(100% - 3px) center;
  background-size: 2rem;
  border: 1px solid var(--accent-2);
  border-radius: var(--border-radius);
  color: var(--accent-3);
  cursor: pointer;
  padding: 1px 9px;
  padding-right: 2.5rem;
}

select:hover,
select:active {
  background: var(--link);
  background-repeat: no-repeat;
  background-position: calc(100% - 3px) center;
  background-size: 2rem;
  border-color: var(--link);
  color: var(--background);
}

@media (prefers-color-scheme: light) {
  select {
    background-image: url(arrow-dark.svg);
  }
  select:hover,
  select:active {
    background-image: url(arrow-light.svg);
  }
}

@media (prefers-color-scheme: dark) {
  select {
    background-image: url(arrow-light.svg);
  }
  select:hover,
  select:active {
    background-image: url(arrow-dark.svg);
  }
}

.archive_years {
  display: flex;
  align-items: center;
}

.archive_years label {
  margin-right: 10px;
}

.category-list {
  margin-bottom: 3.5rem;
}